<footer class="section brown lighten-3">
	<div class="container">
		<h4>This is the end. To be continued on <a href="https://github.com/uncleoptimus/FSND3-YAMA" target="_blank">
			<svg class="footer-github-link">
				<use xlink:href="{{ url_for('static', filename='images/svg-defs.svg') }}#Github-logo" ></use>
			</svg></a>
		</h4>
		<span class="footer-signature">
			YAMA was built by Andrew Roy Chen in fulfilment of the Udacity Fullstack Nanodegree Program. July 2015.
		</span>
	</div>
</footer>